@import '../../../../assets/styles/media.scss';

.challenge_sentence {
	display: grid;
	text-align: initial;
	align-content: start;
	grid-template-rows: -webkit-min-content -webkit-min-content;
	grid-template-rows: min-content min-content;
	@include for-tablet-portrait-up() {
		grid-template-rows: -webkit-min-content 1fr;
		grid-template-rows: min-content 1fr;
	}

	.challenge_translate_prompt {
		line-height: 39px;
		padding-left: 10px;
		margin-top: -16px;
		@include for-tablet-portrait-up() {
			margin-top: -24px;
		}
		.example_image_wrapper {
			align-self: flex-end;
			flex-shrink: 0;
			max-width: 114px;
			width: 30%;
			.example_image {
				padding-top: 146.80851%;
				position: relative;
				& > img {
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
		.sentence_wrapper {
			margin-bottom: 12px;
			margin-top: 24px;
			z-index: 150;
			box-sizing: border-box;
			position: relative;
			margin-left: 8px;

			.sentence_content {
				overflow: visible;
				padding: 6px 12px;
				background-color: #fff;
				border: 2px solid #e5e5e5;
				border-radius: 15px;
				box-sizing: border-box;
				overflow: hidden;
				@include for-tablet-portrait-up() {
					padding: 12px 24px;
				}
				.sentence_audio {
					float: left;
					margin: 0 10px 0 0;
					height: 39px;
					align-items: center;
					display: inline-flex;

					button {
						background: none;
						height: inherit;
						border: 0;
						border-radius: 0;
						line-height: 0;
						padding: 0;
						span {
							height: 22px;
							width: 29px;
							display: inline-block;
							img {
								width: 100%;
								height: 100%;
								transform: translate3d(0px, 0px, 0px);
							}
						}
					}
				}
				.sentence {
					line-height: 39px;
					font-size: 19px;
				}
			}
		}
	}
	.answer_word_wrapper {
		@include for-tablet-portrait-up() {
			min-height: 170px;
		}
		display: flex;
		flex-direction: column;
		min-height: 87px;
		align-self: start;
		.answer_word {
			border-top: 2px solid #e5e5e5;
			grid-row-gap: 32px;
			display: grid;
			grid-auto-rows: 1fr;

			.fill_in_answer {
				height: 60px;
				position: relative;
				border-bottom: 2px solid #e5e5e5;
				width: 100%;
			}
			.word_list_wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.word_list {
					display: flex;
					justify-content: center;
					width: 100%;
					flex-wrap: wrap;

					.word_item {
						display: inline-flex;
						flex-direction: column;
						justify-content: center;
						height: 60px;
						margin-left: 4px;
						margin-right: 4px;
						& > button {
							color: #4b4b4b;
							flex-shrink: 0;
							font-weight: 500 !important;
							letter-spacing: normal !important;
							line-height: 1.15 !important;
							text-transform: none !important;
							font-size: 19px !important;

							display: inline-block;
							text-align: center;
							vertical-align: middle;
							white-space: nowrap;

							&.submitted {
								cursor: auto;
							}
						}
					}
				}
			}
		}
	}
	.doan_btn {
		min-width: auto;
		&.selected {
			border-width: 4px 2px 2px;
			&:hover {
				filter: none;
			}
			&::after {
				filter: brightness(0.9);
				border-bottom-width: 2px;
				bottom: -2px;
			}
		}
	}
}
