@import '../../../assets/styles/media.scss';

.auth_wrapper {
	width: 100%;
	height: 100%;
	transition: opacity 0.3s;
	padding: 30px;
	position: fixed;
	z-index: 310;
	background: #fff;
	opacity: 1;
	.auth_inner {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		width: 100%;

		.auth_quit_btn {
			position: absolute;
			left: 0;
			top: 0;
		}

		.auth_toggle_register_btn {
			position: absolute;
			right: 0;
			top: 0;
		}

		.auth_form {
			@include for-tablet-portrait-up {
				margin-top: 0;
				width: 375px;
			}
			margin-top: 40px;
			position: relative;
			text-align: center;

			h1 {
				font-size: 26px;
				margin: 10px 0 15px;
				text-align: center;
			}

			.input_group_wrapper {
				display: flex;
				flex-direction: column;
				font-size: 16px;
				position: relative;
				text-align: start;
				width: 100%;
				.doan_form_group {
					align-items: center;
					background: #f7f7f7;
					border: 2px solid #e5e5e5;
					border-radius: 16px;
					display: flex;
					position: relative;
					padding: 4px 16px;

					.doan_form_input {
						align-items: center;
						cursor: text;
						width: 100%;
						background-color: transparent;
						border: 0;
						box-shadow: none;
						&:focus {
							border-color: transparent;
							box-shadow: none;
							border-right-width: 0 !important;
						}
						line-height: 27px;
						flex-grow: 1;
						.ant-input {
							background-color: transparent;
							&:focus {
								border-color: transparent;
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}
}
