.answer_information {
	.ant-tooltip-inner {
		background-color: white !important;
		border-radius: 16px !important;
		padding: 16px;
	}
}
.modal_review {
	.ant-modal-content {
		border-radius: 16px;
	}

	.review_header {
		color: #3c3c3c;
		font-size: 32px;
		font-weight: 500;
		text-align: center;
	}
	.review_subHeader {
		color: #999;
		font-size: 25px;
		text-align: center;
		margin-bottom: 16px;
	}

	.review_container {
		display: inline-flex;
		flex-wrap: wrap;
		max-height: calc(100vh - 300px);
		max-width: 755px;
		overflow-y: auto;
		padding-bottom: 10px;

		.review_item {
			border-radius: 10px;
			margin: 10px;
			min-height: 150px;
			padding: 15px;
			width: 165px;

			.question {
				display: inline-block;
				font-weight: 700;
				margin-right: 10px;
				width: 100px;
			}
			.answer {
				display: flex;
				margin-top: 15px;
			}

			&.right {
				background-color: #b8f28b;
				color: #58a700;
			}
			&.wrong {
				background-color: #ffc1c1;
				color: #ea2b2b;
			}
		}
	}
}
