@import '../../assets/styles/media.scss';

header {
	height: 70px;
	z-index: 210;
	font: 500 17px/25px 'din-round';
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	border-bottom: 2px solid #e5e5e5;
	box-sizing: border-box;
	color: #afafaf;
	left: 0;
	line-height: 20px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	.navbar_container {
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 24px;

		.navbar_profile {
			padding: 0 12px;
			align-items: center;
			display: flex;
			img {
				border-radius: 98px;
				height: 36px;
			}

			&:hover {
				cursor: default;
				opacity: 0.8;
				transition: opacity 0.2s;
			}
		}
		.navbar_item {
			height: 100%;
			position: relative;
			align-items: center;
			display: flex;
			flex-direction: row;

			&:not(.active):hover {
				.navbar_icon > img,
				.navbar_text {
					filter: brightness(0.7) contrast(2.5);
				}
			}

			.navbar_icon {
				display: flex;
				position: relative;
				@include for-tablet-landscape-up {
					margin-right: 12px;
				}
				img {
					cursor: pointer;
					max-height: 32px;
					padding-right: 0;
					transition: filter 0.2s;
				}
			}

			&.active {
				.navbar_text {
					color: #1cb0f6 !important;
				}
			}

			.navbar_text {
				a {
					font-size: 15px;
					font-weight: 700;
					letter-spacing: 0.8px;
					text-decoration: none;
					text-transform: uppercase;
					color: #afafaf;
					cursor: pointer;
					display: none;
					transition: filter 0.2s;
					-webkit-user-select: none;
					-moz-user-select: none;
					user-select: none;

					@include for-tablet-landscape-up {
						display: initial;
					}
				}
			}
		}
	}
}
