@import '../../../assets/styles/media.scss';

.lesson_result_container {
	grid-column: 1;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;

	.lesson_result {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
