.doan_btn_quit {
	height: 18px;
	width: 18px;
	background: none;
	border: 0;
	border-radius: 0;
	line-height: 0;
	padding: 0;
	color: rgb(133, 133, 133);
	cursor: pointer;
	transform: translateZ(0);
	&:hover {
		.anticon-close {
			opacity: 0.5;
		}
	}
}

.doan_btn {
	background: none;
	width: 100%;
	height: 50px !important;
	color: #afafaf;
	border-color: transparent;
	border-width: 2px 2px 4px;
	border-style: solid;
	border-radius: 16px;

	padding: 12px 16px;
	line-height: 20px;

	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transform: translateZ(0);
	transition: filter 0.2s;
	font-weight: 700;
	letter-spacing: 0.8px;
	text-transform: uppercase;

	&:hover {
		filter: brightness(0.9);
	}
	&:active:not(:disabled) {
		border-width: 4px 2px 2px;
		&::after {
			border-bottom-width: 2px;
			bottom: -2px;
		}
	}
	&:disabled {
		background: none;
		background-color: transparent !important;
		border-radius: 16px;
		border-width: 4px 0 0;
		color: #afafaf;
		cursor: auto;

		&::after {
			border-width: 0;
			bottom: 0;
			background: #e5e5e5;
		}
	}

	&::after {
		bottom: -4px;
		content: '';
		left: -2px;
		right: -2px;
		top: -2px;
		bottom: -2px;
		background-color: #fff;
		border-color: #e5e5e5;
		border-bottom-width: 2px;
		border-width: 2px 2px 4px;
		border-radius: 16px;
		background-clip: padding-box;
		border-style: solid;
		position: absolute;
		z-index: -1;
	}

	&.doan_btn_primary {
		background-color: #1899d6;
		color: #fff;
		border-color: transparent !important;
		&:not(:disabled()) {
			&:hover {
				filter: brightness(1.1);
			}
			&::after {
				background-color: #40a9ff;
				border-color: transparent;
			}
			&:active {
				background: none;
				border-radius: 16px;
				border-width: 4px 0 0;
			}
		}
	}

	&.doan_btn_success {
		background-color: #58a700;
		color: #fff;
		border-color: transparent !important;
		&:not(:disabled()) {
			&:hover {
				filter: brightness(1.1);
			}
			&::after {
				background-color: #58cc02;
				border-color: transparent;
			}
			&:active {
				background: none;
				border-radius: 16px;
				border-width: 4px 0 0;
			}
		}
	}

	&.doan_btn_danger {
		background-color: #ea2b2b;
		color: #fff;
		border-color: transparent !important;
		&:not(:disabled()) {
			&:hover {
				filter: brightness(1.1);
			}
			&::after {
				background-color: #ff4b4b;
				border-color: transparent;
			}
			&:active {
				background: none;
				border-radius: 16px;
				border-width: 4px 0 0;
			}
		}
	}

	@include for-tablet-portrait-up {
		min-width: 150px;
		font-size: 17px !important;
	}
}
