@import 'bootstrap/bootstrap.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'custom_classes';
@import 'variables.scss';
@import 'media.scss';
@import 'font.scss';
@import 'button.scss';

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
*,
:after,
:before,
button,
button:focus,
input,
textarea {
	box-sizing: inherit;
	font-family: 'din-round', sans-serif;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@include for-tablet-portrait-up {
	*,
	:after,
	:before,
	button,
	button:focus,
	input,
	textarea {
		-webkit-user-select: auto;
		-moz-user-select: auto;
		user-select: auto;
	}

	.wrapper {
		cursor: default;
		margin: 0 auto;
		max-width: 1140px;
		min-width: 900px;

		.content {
			margin-right: 404px;
		}

		.sideBar_right {
			float: right;
			width: 428px;
		}
	}
}
[dir='ltr'] {
	text-align: initial;
}

hr {
	border: 0;
	border-top: 2px solid #e5e5e5;
	height: 0;
	margin: 40px 0;
	box-sizing: content-box;
	overflow: visible;
}
h1,
h2 {
	font-weight: 700;
}
h2 {
	color: #3c3c3c;
	font-size: 24px;
	line-height: 26px;
	margin: 0 0 25px;
}
img {
	border-style: none;
}

.lesson_container {
	&:before {
		content: '';
		display: block;
	}
	@include for-tablet-portrait-up() {
		cursor: default;
		margin: 0 auto;
		max-width: 1140px;
		min-width: 900px;
		&:before {
			height: 94px;
		}
	}

	.challenge_container {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: 100%;
		grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
		grid-template-rows: min-content 1fr min-content;
		height: 100%;
		min-height: 460px;
		overflow: hidden;
		padding: 24px 16px;
		width: 100%;
		@include for-tablet-portrait-up() {
			grid-gap: 0;
			grid-template-rows: 100px 1fr 140px;
			min-height: 690px;
			padding: 0;
		}

		.challenge_process_container {
			grid-column: 1;
			grid-row: 1;
			z-index: 100;
			.challenge_process {
				margin: 0 auto;
				max-width: 1080px;
				@include for-tablet-portrait-up() {
					padding: 50px 40px 0;
				}
				.process_wrapper {
					align-items: center;
					display: grid;
					grid-gap: 20px;
					grid-template-columns: -webkit-min-content 1fr;
					grid-template-columns: min-content 1fr;

					@include for-tablet-portrait-up() {
						grid-gap: 24px;
					}

					.doan_btn_quit {
						height: 18px;
						width: 18px;
						background: none;
						border: 0;
						border-radius: 0;
						line-height: 0;
						padding: 0;
						color: rgb(133, 133, 133);
						cursor: pointer;
						transform: translateZ(0);
						&:hover {
							.anticon-close {
								opacity: 0.5;
							}
						}
					}

					.process_bar {
						background: #e5e5e5;
						border-radius: 8px;
						height: 16px;
						.process_bar_inner {
							color: #58cc02;
							width: 0%;
							background: currentColor;
							border-radius: inherit;
							height: 16px;
							max-width: 100%;
							min-width: calc(16px * 1.5);
							position: relative;
							transition: all 0.4s;
						}
					}
				}
			}
		}

		.challenge_content_container {
			align-content: center;
			display: grid;
			font-size: 19px;
			grid-template-columns: 1fr;
			grid-template-rows: minmax(0, 1fr);
			height: 100%;
			justify-content: center;
			text-align: center;
			width: 100%;

			.challenge_content {
				display: grid;
				grid-gap: 16px;
				grid-template-rows: -webkit-min-content minmax(0, 1fr);
				grid-template-rows: min-content minmax(0, 1fr);
				transform: translateZ(0);
				overflow-x: hidden;
				overflow-y: auto;

				@include for-tablet-portrait-up() {
					min-height: 450px;
					overflow: visible;
					width: 600px;
					grid-gap: 24px;
				}
				.challenge_header {
					display: grid;
					grid-gap: 8px;
					h1 {
						font-size: 25px;
						line-height: 24px;
						margin: 0;
						text-align: left;
						width: 100%;
						@include for-tablet-portrait-up() {
							font-size: 32px;
							line-height: 40px;
						}
					}
				}
				.challenge_options {
					display: grid;
					text-align: initial;
					grid-gap: 8px;
					@include for-tablet-portrait-up() {
						grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
						align-items: center;
					}
				}
			}

			@include for-tablet-portrait-up() {
				grid-template-columns: -webkit-min-content;
				grid-template-columns: min-content;
				grid-template-rows: -webkit-min-content;
				grid-template-rows: min-content;
			}
		}

		.challenge_footer_container {
			grid-column: 1;
			grid-row: 3;
			position: relative;
			z-index: 110;

			@include for-tablet-portrait-up() {
				background: #fff;
				border-top: 2px solid #e5e5e5;
				max-height: 140px;
				min-height: 140px;
				overflow: hidden;
				transition: max-height 0.3s ease-in-out;
				width: 100%;
			}

			.answer {
				display: flex;
				flex: 1 1 auto;

				.icon {
					@include for-tablet-portrait-up() {
						background: #fff;
						border-radius: 98px;
						display: inline-block;
						flex-shrink: 0;
						float: left;
						height: 80px;
						margin-right: 16px;
						width: 80px;
						align-self: center;
						opacity: 1;
					}
				}

				.message {
					@include for-tablet-portrait-up() {
						justify-content: center;
						flex-direction: column;
					}
					display: flex;
					justify-content: space-between;
					padding: 0;
					width: 100%;
					max-width: 400px;
					min-width: 320px;
					h2 {
						color: inherit;
						line-height: 30px;
						font-size: 24px;
					}
				}
			}

			&.right {
				background-color: #b8f28b;
				color: #58a700;
			}

			&.wrong {
				background-color: #ffc1c1;
				color: #ea2b2b;
			}
			.challenge_footer {
				align-items: center;
				display: grid;
				grid-auto-rows: 1fr;
				grid-gap: 8px 16px;
				grid-template-columns: 100%;
				justify-items: stretch;
				max-width: 1000px;
				position: relative;
				touch-action: none;

				&::after {
					content: '';
					display: block;
					height: 10vh;
				}
				@include for-tablet-portrait-up() {
					align-items: center;
					grid-auto-rows: auto;
					grid-template-columns: repeat(5, 1fr);
					grid-template-rows: 100%;
					justify-content: space-between;
					min-height: 140px;
					padding: 0 40px;
					width: 100%;

					&::after {
						height: 0;
					}
				}
				@media (min-width: 1000px) {
					margin-left: calc(50% - 500px);
				}

				.cancel_btn {
					position: relative;
					@include for-tablet-portrait-up() {
						grid-column: auto/2;
						justify-self: start;
					}
				}

				.next_btn,
				.continue_btn {
					position: relative;
					@include for-tablet-portrait-up() {
						grid-column: 5 / auto;
						justify-self: end;
					}
				}
			}
		}
	}
}

label.option {
	display: flex;
	flex-direction: column;
	font-size: 19px;
	padding: 12px;
	position: relative;
	background: none;
	color: #4b4b4b;
	border-width: 2px 2px 4px;
	border-radius: 16px;
	border-color: #e5e5e5;
	border-style: solid;
	transform: translateZ(0);
	transition: filter 0.2s;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	&.submitted {
		cursor: auto;
	}

	@include for-tablet-portrait-up() {
		padding: 24px;
	}

	&:hover:not(.submitted) {
		background-color: #f7f7f7;
		border-bottom-width: 2px;
	}

	&.selected {
		background-color: #ddf4ff;
		border-color: #1cb0f6;
		border-bottom-width: 2px;
		bottom: -2px !important;

		.option_content {
			.option_answer,
			.option_no {
				color: #1cb0f6;
			}
			.option_no {
				border-color: #1cb0f6;
			}
		}
	}

	.option_image {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;

		background-position: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		margin: 0 0 10px;
		flex-grow: 1;
		width: 100%;
		@include for-tablet-portrait-up() {
			height: 160px;
		}
	}
	.option_content {
		align-items: center;
		display: flex;
		justify-content: center;
		.option_answer {
			font-size: 17px;
		}
		.option_no {
			flex-shrink: 0;
			align-items: center;
			border: 2px solid #e5e5e5;
			border-radius: 8px;
			color: #afafaf;
			display: none;
			font-size: 15px;
			font-weight: 700;
			height: 30px;
			justify-content: center;
			width: 30px;
		}

		@include for-tablet-portrait-up() {
			.option_answer {
				margin-right: auto;
			}
			.option_no {
				display: inline-flex;
			}
			justify-content: flex-end;
		}
	}
}
