@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-tablet-portrait-down {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin for-tablet-landscape-down {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 700px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}
